.discover-swiper .swiper-slide {
  transform: scale(0.65) !important;
  /* opacity: 0.4; */
  transition: all 0.6s ease;
}

.discover-swiper .swiper-slide-active {
  /* opacity: 1; */
  transform: scale(1) !important;
}

.discover-text {
  margin-top: 1rem;
  max-width: 1674px;
  font-family: 'Bodoni Moda', serif;
  color: #2c3654;
  font-size: 16px;
  line-height: 21px;
}

@media (max-width: 639px) {
  .discover-text {
    max-width: 370px;
  }
}

@media (min-width: 640px) {
  .discover-text {
    margin-top: 1.5rem;
    font-size: 19px;
    line-height: 27px;
    width: 576px;
  }
}

@media (min-width: 880px) {
  .discover-text {
    width: 815px;
  }
}

@media (min-width: 1024px) {
  .discover-text {
    margin-top: 1.5rem;
    font-size: 28px;
    line-height: 36px;
    width: 840px;
  }
}

@media (min-width: 1280px) {
  .discover-text {
    margin-top: 1.75rem;
    font-size: 32px;
    line-height: 38px;
    width: 1254px;
    letter-spacing: -0.04em;
  }
}
